 <main class="px-3">
  <div style="text-align: center;">
    <h1>Servicenow: Certified System Administrator</h1>
    <h3>( Practice Set )</h3>
    <h6>This practice set is based on the <a href="https://community.servicenow.com/community?id=community_Article&sys_id=a0e7f10bdb01dd50f77799ead3961917">community post</a> created by <i>Lon Landry</i>. Created for better readability, Happy Learning.</h6>
  </div>
<div>
  <br />
  <span>Filter out by Categories: </span>
  <select name="queCategories" ng-model="userSelectedCategory"  ng-options="uniqueCategory as uniqueCategory for uniqueCategory in uniqueCategoryList">
    <option value="">--Select--</option>
  </select>
</div>
    <div class="container py-5 h-100" ng-repeat="recinfo in recommendations | filter:{Category:userSelectedCategory}">
        <div class="card">
          <div class="card-body">
              <div class="shadow-1-strong" style="color: rgb(255, 0, 132)">
                 <strong>{{recinfo["Number"]}}</strong> <span style="color: grey;">( Category: {{recinfo["Category"]}} )</span>
              </div>
              <p class="mb-0 mt-2 font-italic text-dark" ng-bind-html="recinfo['Front (html)']"></p>
              <footer class="pt-4 mt-4 border-top">
               <b style="color: green;"> &#10003;Answer:</b>
                <span ng-bind-html="recinfo['Back (HTML)']"></span>
              </footer>
          </div>
        </div>
    </div>

  </main>
