 <main class="px-3">
  <div style="text-align: center;">
    <h1>ITIL 4: Foundation</h1>
    <h3>( Practice Sets )</h3>
    <h6 style="color: #a30101">This project is still in build state, I am working on it!</h6>
  </div>
<div>
  <br />
  <span>Select the Practice set: </span>
  <select name="practiceSets" ng-model="userSelectedPracticeSet"  ng-options="practiceSet as practiceSet for practiceSet in practiceSetsList">
    <option value="">--Select--</option>
  </select>
</div>
<div ng-hide="userSelectedPracticeSet" style="text-align: left;">
        <br />
        <h3>About ITIL 4 Foundation exam:</h3>
        <ul>
          <li>ITIL 4 Foundation exam consists of <b>40 questions</b>.</li>
          <li>You get <b>60 minutes</b> to answer all the questions.</li>
          <li>No negative marking.</li>
          <li>You need to answer atleast <b>65% i.e. 26 out of 40 questions</b> correctly in order to successfully pass the exam.</li>
        </ul>
        <br />
        <h3>About these practice sets:</h3>
        <ul>
          <li>Please select the practice set from the menu to start learning.</li>
          <li>Each practice set consists of 40 questions.</li>
          <li>For each question, there is a correct answer provided.</li>
          <li>All these questions and their answers are collected from various internet sources.</li>
          <li>Please validate the answers based on your knowledge and study material.</li>
          <li>If you find any wrong answer or repeated questions, ping me!</li>
        </ul>
    </div>
<div ng-show="userSelectedPracticeSet" class="container py-5 h-100" ng-repeat="itilQue in itilPracticeQues | filter:{set:userSelectedPracticeSet}">
        <div class="card">
          <div class="card-body">
              <div class="shadow-1-strong" style="color: rgb(255, 0, 132)">
                 <strong>Que {{itilQue["number"]}}.</strong> <span style="color: grey;">( {{itilQue["set"]}} )</span>
              </div>
              <p class="mb-0 mt-2 font-italic text-dark" ng-bind-html="itilQue['que']"></p>
              <ol type="A">
                <li ng-repeat="itilQueOption in itilQue['que_options']" ng-bind-html="itilQueOption"></li>
              </ol>
              <footer class="pt-4 mt-4 border-top">
               <b style="color: green;"> &#10003;Answer:</b>
                <span ng-bind-html="itilQue['ans']"></span>
                <div ng-show="{{itilQue.hasOwnProperty('explaination')}}">
                  <br />
                  <p style="color: rgb(18, 103, 140);" ng-bind-html="itilQue['explaination']"></p>  
                </div>      
              </footer>
          </div>
        </div>
    </div>
  </main>
