 <main class="px-3" style="font-family: 'Harmattan'; font-size: 22px;">
     <div style="text-align: center;">
                <h1>Servicenow: Certified System Administrator</h1>
                <h3>( Practice Set 3 )</h3>
            </div>
            <br />
          
                <label>Current Que: </label><input type="number" min="1" max="totalQuestions" ng-model="curPage" /><span style="text-align: center;vertical-align: top;"> / {{totalQuestions}}</span>
           
            <div  class="container py-5 h-100" ng-repeat="itilQue in filteredItems">
                
                        <div class="shadow-1-strong" style="font-weight: bold; color: rgb(255, 0, 132)">
                            <p>Que. {{curPage}}) {{ itilQue['que']}}</p>
                        </div>
                        <ol type="A">
                            <li ng-repeat="itilQueOption in itilQue['opt']" ng-bind-html="itilQueOption"></li>
                        </ol>
                        <br />
                        <div>
                            <input type="submit" class="btn btn-info btn-sm" value="Show Answer" ng-click="showAnswer()" />
                        </div>
                        
                        <footer ng-show="showAnswerTrue">
                            <br />
                            <b style="color: green;"> &#10003;Answer:</b>
                            <span style="font-weight: bold; " ng-bind-html="itilQue['ans']"></span>
                            <br /><br />
                            <p style="color: rgb(18, 103, 140);" ng-bind-html="itilQue['explaination']"></p>     
                        </footer>
                    
            </div>

          
                <div style="display: flex; align-items: center; justify-content: center;" data-pagination=""
                    data-num-pages="numOfPages()"
                    data-current-page="curPage"
                    data-max-size="maxSize"
                    data-boundary-links="true"
                    previous-text="‹" 
                    next-text="›" 
                    first-text="«" 
                    last-text="»"
                >
                </div>
           
        </div>
</main>